/* @font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
} */

body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'RobotoCondensed';
}

h1, h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
}

.track {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.track-image {
  width: 250px;
  height: 250px;
}

.track-text {
  position: absolute;
  width: 250px;
  bottom: 0px;
  background-color: black;
  color: white;
  padding: 5px;
  opacity: .7;
}

.track-icon {
  width: 50px;

  padding: 5px;
font-size: 18px;
position: absolute;
bottom: 160px;
left: 100px;
color: white;
background-color: black;

}
.track-icon-container {
border-radius: 25px;
padding: 10px;
opacity: 0.8;
}

/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.track {
	width: 250px;
	height: 250px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 20px;
}

.track-image {
	width: 250px;
	height: 250px;
}
.track-text {
	position: absolute;
	width: 240px;
	bottom: 0;
	background-color: black;
	color: white;
	padding: 5px;
}
.track-icon {
	position: absolute;
	bottom: 100px;
	left: 100px;
	color: white;
	background-color: black;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	padding: 10px;
	opacity: 0.8;
} */
